<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Vertex-X" value="https://systemorph-eu.pkgs.visualstudio.com/Vertex/_packaging/Vertex-X/nuget/v3/index.json" />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

	<packageSourceMapping>
		<packageSource key="Vertex-X">
			<package pattern="Systemorph.*" />
			<package pattern="Microsoft.NET.Test.Sdk" />
			<package pattern="xunit" />
			<package pattern="xunit.runner.visualstudio" />
		</packageSource>
		<packageSource key="Nuget">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>

</configuration>